<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method = 'post' action = '/check/'>
        {% csrf_token %}
        Ник:<input type = 'text' name = 'username'><br/>
        * Ник как минимум 4 символа<br/>
        Пароль:<input type = 'password' name = 'password'><br/>
        Повторите пароль:<input type = 'password' name = 'pswd'><br/>
        * Пароль как минимум 6 символов<br/>
        Телеграм :<input type = 'text' name = 'telegram'><br/>
        {% csrf_token %}
        <input type = 'submit'/>
    </form>
    <form action = '/enter-page/'>
        {% csrf_token %}
        <input type = 'submit' value = 'Уже есть аккаунт ?'>
    </form>
</body>
</html>